
<div class="row">
    <h1 class="text-center">Let us plan your day</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/plannerForm" method="POST" novalidate class="validated-form" enctype="application/x-www-form-urlencoded">
            <div class="mb-3">
                <label class="form-label" for="location">Enter a location</label>
                <input class="form-control" type="text" id="location" name="location" required>
                
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>