
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>YelpCamp</title>
    <!-- Link to Bootstrap 4.3.1 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    

<div class="container">
	<header class="jumbotron">
		<h1 class="display-3">Welcome to YelpCamp.</h1>
		<p class="lead">View our handpicked campgrounds from all over!</p>
		<p><a href="/campgrounds/new" class="btn btn-primary btn-lg">Add a new campground</a></p>
	</header>
	<div class="row">
		<div class="col-12">
			<h3>Our most popular campgrounds</h3>
		</div>
	</div>
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<% resturaunts.forEach(function(resturaunt) { %>
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<img src="<%= resturaunt.image_url %>" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title"><%= resturaunt.name %></h5>
						<p class="text-right">
							<a href="/" class="btn btn-primary btn-sm">More info</a>
						</p>
					</div>
				</div>
			</div>
		<% }) %>
	</div>
</div>
