<div class='row'>
    <div class='column'>


        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">title</h5>
                <p class="card-text">description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= location%></li>
            </ul>
        </div>

    </div>

    </div>
</div>